.checkout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    max-width: 80vw;
    h2{
        font-size: 3vw;
        margin: 0;
    }
}
.checkout-summary{
    display: flex;
    flex-direction: column;
    border: 3px solid #ccc;
    margin: 0 2% 2% 2%;
    overflow-y: scroll;
    height: 50vh;
    width: 80vw;

}
.checkout-header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 100%;
    border-bottom: 0;
    border-width: 3px 3px 0 3px;
    border-style: solid;
    border-color: #ccc;

}
.checkout-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-bottom: 1px solid #ccc;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.checkout-total{
    font-size: clamp(20px, 4vw, 50px);
    border-bottom: 8px double #ccc;

}

.purchase-now-button{
    width: 50%;
    font-size: 1.5vw;
    margin: 5%;
}

@media screen and (max-width: 500px) {
    .checkout-container{
        padding: 0;
        >h2{
            font-size: 6vw;
        }
    }
   .checkout-container{
    font-size: 50%;
   }
    .purchase-now-button{
        font-size: 4vw;
    }
}