.cart-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20vh;
    width: 20%;
    position: relative;
    border-radius: 8px;
    padding:0.3rem;

}
.cart-menu:hover, .cart-menu-expanded:hover{
    border-color: var(--button-hover);
}
.cart-menu:active{
    background-color: #2b2b2b;
}

.cart-menu, .cart-menu-expanded{
    background-color: var(--button-background);
    border: 2px solid var(--box-border-color);
    transition: border-color .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

.cart-icon, .total-items-text {
    font-size: clamp(2px, 5vw, 20px);
}

/* expanded cart menu styles */

.cart-menu-expanded{
    border-top: none;
    border-radius: 0 0 20% 20%;
    width: 93%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 5%;
    position: absolute;
    top:100%;
    right:0;
    z-index:3;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;


}

.cart-item{
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    max-height: 50vh;
    overflow-y:scroll;
}
.cart-item-header{
    display:grid;
    grid-template-columns: 1fr 5fr 2fr 2fr;
    border-bottom: 1px solid var(--single-border-color);

}
.cart-item-preview{
    display:grid;
    grid-template-columns: 1fr 5fr 2fr 2fr;
}
.cart-total{
    font-size: 1.5vw;
    border-top: 2px solid var(--single-border-color);
    border-bottom: 4px double var(--single-border-color);
}
.checkout-button{
    font-size: 2vw;
    background-color: var(--button-background-important);
}

@media screen and (max-width: 500px) {
    .cart-menu{
        width: 40%;
        padding: 0;
    }
    .cart-menu-expanded{
        padding-top: 10%;
        border-radius: 15%;
        right:-5vw;
        width: 120%;
    }
    .cart-item{
        font-size: 2vw;
    }
    .cart-icon, .total-items-text {
        font-size: clamp(2px, 3vw, 50px);
    }
    .cart-total{
        font-size: 4vw;
    }
    .checkout-button{
        font-size: 4vw
    }
}