nav{
    width: 40%;
    >ul>li{
        width: 50%;
    }
}

ul{
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

li{
    list-style-type: none;
    >a>button{
        font-size: 100%;
        width: 100%;
    }
}
.headerH1{
    font-size: 4vw;
    margin-top:0;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-secondary);
    padding: 5px;
}
.HeaderBar{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

@media screen and (max-width: 500px) {
    .headerH1{
        font-size: clamp(5px, 6vw, 40px);
    }
   
}