
ul{
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

li{
    list-style-type: none;
}
.btn{
    font-size: 1.2vw;
    width: 18vw;
}
.headerH1{
    font-size: 4vw;
    margin-top:0;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-secondary);
    padding: 5px;
}
.HeaderBar{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

@media screen and (max-width: 500px) {
    .headerH1{
        font-size: clamp(5px, 6vw, 40px);
    }
    .btn{
        font-size: clamp(8px, 3vw, 20px);
    }
    
}