#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

header{
  text-align: center;
  position: relative;
  width: 100%;
  border-bottom: 2px solid #444444;
}

main{
  padding-left: 10vw;
  padding-right: 10vw;
  overflow-y: scroll;
}

footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #444444;
}